[submodule "src/app/modules/application"]
	path = src/app/modules/application
	url = https://github.com/skyinformatics-biz/FE-PTPro-Application-Module.git
[submodule "src/app/modules/communication"]
	path = src/app/modules/communication
	url = https://github.com/skyinformatics-biz/FE-PTPro-Communication-Module.git
[submodule "src/app/modules/public"]
	path = src/app/modules/public
	url = https://github.com/skyinformatics-biz/FE-PTPro-Public-Module.git
[submodule "src/app/modules/profiles"]
	path = src/app/modules/profiles
	url = https://github.com/skyinformatics-biz/FE-PTPro-Profiles-Module.git
[submodule "src/app/providers"]
	path = src/app/providers
	url = https://github.com/skyinformatics-biz/FE-PTPro-Subscription-Module.git
[submodule "src/app/modules/secure"]
	path = src/app/modules/secure
	url = https://github.com/skyinformatics-biz/FE-PTPro-Communication-Module.git
[submodule "src/app/modules/payment"]
	path = src/app/modules/payment
	url = https://github.com/skyinformatics-biz/FE-PTPro-Subscription-Module.git
